<header class="bg-dark text-white p-3 mb-4 with-sidebar">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <!--spacer-->
        </div>
        <div>
            <button class="btn btn-outline-light" hx-get="/fhir/Patients" hx-target="#content">
                <i class="fas fa-users"></i> Patients
            </button>
            <button class="btn btn-outline-light" hx-get="/fhir/Demographics" hx-target="#content">
                <i class="fas fa-chart-pie"></i> Demographics
            </button>            
            {% if not current_user.is_authenticated %}           
            <button id="signInBtn" class="btn btn-outline-success ms-2" style="display:none;">Sign In</button>
            {% else %}
            <span class="navbar-text ms-2" id="currentUserDisplay">Signed in</span>
            <a href="{{ url_for('logout') }}" id="logoutBtn" class="btn btn-outline-danger ms-2">Logout</a>
            {% endif %}
        </div>
    </div>
</header>
<script src="{{ url_for('static', filename='auth.js') }}" defer></script>
